//FONTS//
:root{
  --negroSuave: #1C1C1C;
}


//Variables de color

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('./assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Thin.woff2') format('woff2'),
        url('./assets/fonts/Raleway-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6, p, a, div, span {
    font-family: 'Inter';
}

body, html {
    background: transparent;
    height: 100%;
    margin: 0;
}

//TEMA OSCURO WEB!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.dark-theme {
    background: var(--negroSuave);
    transition: background-color 0.4s ease;
    #welcomeMessage, #welcomeMessage .boxContainer{
      background: var(--negroSuave);
      color: white;
      transition: background-color 0.4s ease; // Transición para fondo y color
    }

    h1, h2, h3, h4, h5, h6, p, a, div, span {
      color: white;
      transition: color 0.4s ease; // Transición para color de texto
    }

    .typewriter {
      --bgColor: transparent;
      transition: --bgColor 0.4s ease;
    }
}


//Mensaje de bienvenida la primera vez de entrar a al web
#welcomeMessage{
    display: flex;
    background: transparent;
    position: relative;
    z-index: 99;
    bottom: 21px;
    .boxContainer{
      width: 100%;
      background: white;
      transition: background-color 0.4s ease;
      min-height: 100vh;
      padding: 0rem 10rem 0rem 10rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: black;
      font-size: 55px;
      font-weight: 500;
    }
}

//Typewrite effect!!//
  @keyframes grow {
    0% { max-height: var(--lineHeight); }
    100% { max-height: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes carriageReturn {
    0% { top: 0; }
    100% { top: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes type {
    0% { width: 100%; }
    100% { width: 0%; }
  }

  .typewriter {
    --bgColor: white;
    --lines: 500;
    --lineHeight: 4.5rem;
    --timePerLine: 1.5s;
    --widthCh: auto;
    --width: calc(var(--widthCh) * 1ch);
    --time: calc(var(--lines) * var(--timePerLine));
    transition-delay: var(--timePerLine);
    transition-property: background-color, transparent;
    animation: grow var(--time) steps(var(--lines));
    animation-fill-mode: forwards;
    background: var(--bgColor);  
    line-height: var(--lineHeight);
    max-height: var(--lineHeight);
    overflow: hidden;
    position: relative;
    width: var(--width);
    /* word-break: break-all; */
  }
  
  .typewriter::before {
    content: "";
    animation: 
      type var(--timePerLine) linear infinite, 
      carriageReturn var(--time) steps(var(--lines)) var(--lines);
      //caret 0.5s steps(2) infinite;
    background: var(--bgColor);
    //border-left: 2px solid;
    bottom: 0;
    height: 5rem;
    position: absolute;
    right: 0;
    width: 100%;
  }
/**/

//Hour blink effect
@keyframes blink {
    from { opacity: 0; }   
    to { opacity: 1; }
}

.navBar{
    display: flex;
    justify-content: space-between;
}